body {
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-size: cover;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "h h"
        "a n"
        "f f"; 
}

article {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
}

header {
    grid-area: h;
}
