nav ul{
    
    display: grid;
    grid-template-rows:1fr 1fr;
    gap: 0px;
    list-style-type: none;
    text-align: left;
}

nav li{
    padding: 5px;
    color:rgba(91, 91, 205,);
}
nav a:hover{
    background-color:rgb(217, 240, 232);
    color:black;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
}




body {
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-size: cover;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: rgb(248, 223, 200);
    border: solid black 1px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "h h"
        "a n"
        "f f"; 
    border: solid black 1px;
}

article {
    grid-area: a;
    border: solid black 1px;
}

nav {
    grid-area: n;
    border: solid black 1px;
    
}

footer {
    grid-area: f;
    border: solid black 1px;
}

header {
    grid-area: h;
    border: solid black 1px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:30%;
    margin:auto; 
    
  }

td, th {
    text-align: left;
    padding: 8px;
    vertical-align:middle;
    text-align: center;
  }

tr:nth-child(even) td:nth-child(even){
    background-color: lightgray;
  }

tr:nth-child(odd) td:nth-child(odd){
    background-color: lightgray;
  }

th {
    background-color: gray;
}


@media only screen and (max-width: 450px) {
    body, main {
        font-size:12px;
        background-size: cover;
        width:100%;
    }
    main {
        grid-template-columns:1fr; 
        grid-template-areas: 
            "h"
            "n"
            "a"
            "f"; 
    }

    nav ul { 
    grid-template-columns: 1fr; 
    gap: 5px; 
    list-style-type: none;
    text-align: center;
    }
    article {
        grid-template-columns: 1fr; 
        gap: 5px; 
    }
}